.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1rem 2rem;
	border-bottom: 1px solid rgb(233, 233, 233);
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}

.logo {
	font-size: 2.4rem;
	font-family: cursive;
	font-weight: 900;
}

.navigation__container {
}

.navigation__ul {
	display: flex;
	gap: 2rem;
}

.navigation__li {
	font-size: 2rem;
}

.navigation__li:hover {
}
